<div>

    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>
                <li><u>Ma formation</u></li>
            </mat-card-title>
        </mat-card-title-group>
    </mat-card>

    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>Programme court en informatique 5e année - Université du Quebec à Chicoutimi</mat-card-title>
            <mat-card-subtitle>2022 Chicoutimi, Canada</mat-card-subtitle>
            <img mat-card-md-image src="assets\logoUqac.png">
        </mat-card-title-group>
    </mat-card>

    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>Majeure Ingénierie et Numerique 4e année - EPF école d'ingénieurs</mat-card-title>
            <mat-card-subtitle>2021-2022 Cachan, France</mat-card-subtitle>
            <img mat-card-md-image src="assets\EPF Logo AN + Baseline Q.jpeg">
        </mat-card-title-group>
    </mat-card>
    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>Formation généraliste 1ère, 2e et 3e année - EPF école d'ingénieurs</mat-card-title>
            <mat-card-subtitle>2018-2021 Sceaux, France</mat-card-subtitle>
            <img mat-card-md-image src="assets\EPF Logo AN + Baseline Q.jpeg">
        </mat-card-title-group>
    </mat-card>

    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>Baccalauréat Scientifique Mention bien - Lycée Notre Dame de Bury</mat-card-title>
            <mat-card-subtitle>2015-2018 Margency, France</mat-card-subtitle>
            <img mat-card-md-image src="assets\14447.svg">
        </mat-card-title-group>
    </mat-card>
</div>