<div class="page">

  <nav class="page__menu page__custom-settings menu">
    <ul class="menu__list r-list">
      <div class="bouton_panel"></div>
      <ng-content></ng-content>
      <li class="menu__group"><a routerLink="" routerLinkActive="active" class="menu__link r-link text-underlined">Qui
          suis-je ?</a></li>
      <li class="menu__group"><a routerLink="Ma-formation" routerLinkActive="active"
          class="menu__link r-link text-underlined">Ma formation</a></li>
      <li class="menu__group"><a routerLink="Mes-experiences-pro" routerLinkActive="active"
          class="menu__link r-link text-underlined">Mes experiences
          professionnelles</a></li>
      <li class="menu__group"><a routerLink="Mes-competences" routerLinkActive="active"
          class="menu__link r-link text-underlined">Mes competences</a></li>
      <li class="menu__group"><a routerLink="Mes-centres-d-interets" routerLinkActive="active"
          class="menu__link r-link text-underlined">Mes centres d'intérêt</a></li>
      <li class="menu__group"><a href="https://www.epf.fr/"><img src="assets\LOGOWHITE.png" alt="logo EPF blanc"></a>
      </li>

    </ul>
  </nav>
</div>