<div>

    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>
                <li><u>Mes experiences professionnelles</u></li>
            </mat-card-title>
        </mat-card-title-group>
    </mat-card>

    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>Stagiaire référent SharePoint - BNP Paribas</mat-card-title>
            <mat-card-subtitle>Du 01/09/2021 au 14/01/2022, Paris 19ème arrondissement - France</mat-card-subtitle>
            <img mat-card-md-image src="assets\BNPlogo.png">
        </mat-card-title-group>
        <mat-card-content>
            <div class="text1">
                <li>Recueil des besoins et création de sites SharePoint</li>
                <li>Validation des sites créés</li>
                <li>Support informatique et maintenance</li>
                <li>Développement de macros VB sous Excel VBA</li>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>Professeur bénévole - Association OPEN</mat-card-title>
            <mat-card-subtitle>Du 01/09/2020 au 01/07/2021, Pierrefite-sur-Seine - France</mat-card-subtitle>
            <img mat-card-md-image src="assets\logoOPEN.webp">
        </mat-card-title-group>
        <mat-card-content>
            <mat-card-content>
                <div class="text1">
                    <li>Soutien scolaire à domicile en mathématiques</li>
                </div>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>Stagiaire préparateur de commande - BG Distribution</mat-card-title>
            <mat-card-subtitle>Du 01/09/2020 au 01/07/2021, Gennevilliers - France</mat-card-subtitle>
            <img mat-card-md-image src="assets\LogoBgDistribution.jpg">
        </mat-card-title-group>
        <mat-card-content>
            <div class="text1">
                <li>Accueil des clients</li>
                <li>Réalisation d’inventaire</li>
                <li>Réception et vérification des commandes</li>
                <li>Préparation de commandes</li>
            </div>
        </mat-card-content>
    </mat-card>
</div>