

.card {
    max-width: 100%;
    margin-bottom: 8px;
    margin: 16px;
}

.card:hover{
    animation: mettre_en_valeur 0.1s ease 0s 1 normal forwards;
}

@keyframes mettre_en_valeur {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.01);
	}
}

.text1{
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;
    line-height: 125%;
}