<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <div>
            <img src="assets\photoAntoine.png" alt="" class="photoAntoine">
            <div class="Nom">
                <h1> <u>Antoine Périn, Developpeur Web</u></h1>
            </div>
            <div class="container-information">
                <div class="information">
                    <div class = "text-info">
                        <mat-icon>cake</mat-icon> 10 juin 2000, 21 ans
                    </div>
                    <div class = "text-info">
                        <mat-icon>place</mat-icon> 50 rue Hallé 75014, Paris, France
                    </div>
                    <div class = "text-info">
                        <mat-icon>email</mat-icon> antoine. perin@epfedu.fr
                    </div>
                    <div class = "text-info">
                        <mat-icon>public</mat-icon> Nationalité française
                    </div>
                    <div class = "text-info">
                        <mat-icon>people</mat-icon> <a href="https://www.linkedin.com/in/antoine-perin/"> Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header>
            <button (click)="sidenav.toggle()" mat-icon-button aria-hidden="false" class="white-icon">
                <mat-icon>segment</mat-icon>
            </button>
        </app-header>
        <div class="container-corps-page">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>