<div >
    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>
                <li><u>Qui suis-je ?</u></li>
            </mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <div class="container-paragraphe-image">
                <div class="text1">
                    <p><span class="tab"></span>Étudiant à l'EPF sur le campus de Sceaux, je suis à la recherche d'un
                        stage de 4e année de 4 à 5
                        mois
                        à
                        partir de septembre 2021. Motivé et autonome, je pense réunir les traits de caractère
                        nécessaires à
                        la
                        bonne
                        réalisation des missions qui me sont confiées.</p>
                    <p><span class="tab"></span>Issu d’une formation généraliste, ce stage m’offrirait l’opportunité
                        d’acquérir une
                        première expérience professionnelle dans le secteur informatique et me permettrait d’appliquer,
                        en entreprise, les différentes compétences que j’ai pu acquérir pendant mes trois premières
                        années d’études.</p>
                    <p><span class="tab"></span>Ayant une grande capacité de travail et étant persévérant, je vais au
                        bout de mes idées
                        malgré les difficultés parfois rencontrées. Curieux et adaptable, j’aime le travail en équipe
                        sur
                        de grands projets.</p>
                    <p><span class="tab"></span>Attiré par les technologies du numérique et par l’administration
                        système, je souhaite me
                        spécialiser dans ces domaines. Motivé et autonome, je pense réunir les traits de caractère
                        nécessaires à la bonne réalisation des missions qui me seront confiées.</p>
                </div>
                <div class="logo_EPF"><img mat-card-xl-image src="assets\EPF Logo AN + Baseline Q.jpeg"
                        alt="logo EPF couleur"></div>

            </div>
        </mat-card-content>

    </mat-card>

    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>
                <li><u>D'où je viens ?</u></li>
            </mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <div class="text1">
                <p><span class="tab"></span>Je viens d'un village qui se nomme Montlignon dans le département du Val
                    d'Oise.</p>
            </div>

            <div class="panel-image">
                <div class="image-panel"><img mat-card-xl-image src="assets\Montlignon_-_Mairie_01.jpg"
                        alt="mairie">
                </div>
                <div class="image-panel"><img mat-card-xl-image src="assets\Montlignon_-_Eglise.jpg"
                        alt="eglise">
                </div>

                <div class="image-panel"><img mat-card-xl-image src="assets\95574_1_photo2_g.jpg"
                        alt="chateau de la chasse">
                </div>
                <div class="image-panel"><img mat-card-xl-image src="assets\Blason_ville_fr_Montlignon_(Val-d'Oise).svg"
                        alt="blason de la ville">
                </div>
            </div>

            <div class="text1">
                <p><span class="tab"></span>Montlignon est une commune française située dans le département du
                    Val-d'Oise en région Île-de-France.</p>
                <p><span class="tab"></span>Située dans une vallée relativement encaissée de la forêt de Montmorency et
                    malgré son intégration progressive à l'agglomération parisienne, la commune au caractère résidentiel
                    affirmé a conservé sa structure villageoise avec, autour de sa place et de sa fontaine, la mairie,
                    l’église et les écoles, dans un environnement verdoyant et peu dense de vergers couronnés par la
                    forêt.</p>
            </div>
        </mat-card-content>

    </mat-card>
</div>