<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="Java"></div>
                <mat-card-title>Java</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-prog">
                        <mat-progress-spinner mode="determinate" value="50">
                        </mat-progress-spinner>
                    </div>

                </div>

                <li>Développement d’un logiciel de covoiturage</li>
                <li>Développement d’une application Web</li>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="MySQL"></div>
                <mat-card-title>MySQL</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-prog">
                        <mat-progress-spinner mode="determinate" value="40">
                        </mat-progress-spinner>
                    </div>

                </div>

                <li>Développement de deux outils de pilotage des activités d’un réseau de cliniques sous MySQL</li>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="CATIA"></div>
                <mat-card-title>Catia</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-log">
                        <mat-progress-spinner mode="determinate" value="30">
                        </mat-progress-spinner>
                    </div>

                </div>

                <li>Dimensionnement d’une ailette de refroidissement</li>
                <li>Dimensionnement d’arbres de transmissions en utilisant </li>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="MicrosoftOffice"></div>
                <mat-card-title>Suite Microsoft Office</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-prog">
                        <mat-progress-spinner mode="determinate" value="90">
                        </mat-progress-spinner>
                    </div>

                </div>

                <li>Access, MS Project, Excel, Word, PowerPoint, SharePoint</li>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="Arduino"></div>
                <mat-card-title>Arduino</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-prog">
                        <mat-progress-spinner mode="determinate" value="70">
                        </mat-progress-spinner>
                    </div>

                </div>

                <li>Conception d’un traceur de colis</li>
                <li>Conception d'un capteur connectée pour plante</li>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="Angular"></div>
                <mat-card-title>Angular</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-prog">
                        <mat-progress-spinner mode="determinate" value="15">
                        </mat-progress-spinner>
                    </div>

                </div>

                <li>Développement d’un site internet personnel</li>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="HTML"></div>
                <mat-card-title>HTML, CSS, JS</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-prog">
                        <mat-progress-spinner mode="determinate" value="30">
                        </mat-progress-spinner>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="Python"></div>
                <mat-card-title>Python</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-prog">
                        <mat-progress-spinner mode="determinate" value="20">
                        </mat-progress-spinner>
                    </div>

                </div>

                <li>Développement d’un logiciel de covoiturage</li>
                <li>Développement d’une application Web</li>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="C"></div>
                <mat-card-title>C</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-prog">
                        <mat-progress-spinner mode="determinate" value="40">
                        </mat-progress-spinner>
                    </div>

                </div>

                <li>Développement d’un petit jeu dans la console Windows</li>
            
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="Francais"></div>
                <mat-card-title>Français</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-prog">
                        <mat-progress-spinner mode="determinate" value="100">
                        </mat-progress-spinner>
                    </div>

                </div>

                <li>Langue maternelle</li>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="Anglais"></div>
                <mat-card-title>Anglais</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-prog">
                        <mat-progress-spinner mode="determinate" value="70">
                        </mat-progress-spinner>
                    </div>

                </div>

                <li>Niveau B2</li>
                <li>TOEIC 815</li>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="Espagnol"></div>
                <mat-card-title>Espagnol</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="spinner">
                    <div class="spinner-color-prog">
                        <mat-progress-spinner mode="determinate" value="40">
                        </mat-progress-spinner>
                    </div>

                </div>
                <li>Niveau B1</li>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>